In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [9]:
antmDataset = pd.read_csv('data1.csv', delimiter = ';', header = 0)
print(antmDataset)

                Date        Open        High         Low       Close  Buy
0   21/03/2022 00:00  2380000000  2390000000  2330000000  2360000000  Yes
1   22/03/2022 00:00  2380000000  2560000000  2370000000  2550000000   No
2   23/03/2022 00:00  2550000000  2560000000  2460000000  2500000000  Yes
3   24/03/2022 00:00  2600000000  2650000000  2540000000  2640000000   No
4   25/03/2022 00:00  2660000000  2690000000  2610000000  2660000000   No
..               ...         ...         ...         ...         ...  ...
94  12/08/2022 00:00  2240000000  2270000000  2210000000  2220000000   No
95  15/08/2022 00:00  2230000000  2240000000  2120000000  2130000000  Yes
96  16/08/2022 00:00  2130000000  2140000000  2070000000  2080000000  Yes
97  18/08/2022 00:00  2070000000  2110000000  2030000000  2050000000  Yes
98  19/08/2022 00:00  2050000000  2090000000  2030000000  2060000000   No

[99 rows x 6 columns]

In [ ]:
antmDataset.head()

In [22]:
antmDataset["Buy"] = pd.factorize(antmDataset.Buy)[0]
antmDataset.head()

         Open        High         Low       Close  Buy
0  2380000000  2390000000  2330000000  2360000000    0
1  2380000000  2560000000  2370000000  2550000000    1
2  2550000000  2560000000  2460000000  2500000000    0
3  2600000000  2650000000  2540000000  2640000000    1
4  2660000000  2690000000  2610000000  2660000000    1

In [ ]:
antmDataset = antmDataset.drop(labels="Date", axis=1)

In [23]:
antmDataset = antmDataset.to_numpy()

In [25]:
dataTraining = np.concatenate((antmDataset[0:40, :], antmDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((antmDataset[40:50, :], antmDataset[90:100, :]), axis=0)

In [29]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]

In [28]:
model = tree.DecisionTreeClassifier()

In [30]:
model = model.fit(inputTraining, labelTraining)

In [31]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1]
Hasil Prediksi :  [1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 1 1 1 1]

In [33]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  10 data
Prediksi Salah :  9 data
akurasi :  52.63157894736842 %